<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1 user-scalable=0">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>

    <div class="sidebar-list">
        <div class="sidebar-list-item">
            John
        </div>

        <div class="sidebar-list-item">
            Matthew
        </div>

        <div class="sidebar-list-item">
            Alistair
        </div>

        <div class="sidebar-list-item">
            Ryan
        </div>

        <div class="sidebar-list-item">
            Eoin
        </div>
    </div>

    <div class="conversation">
        <ul class="chat-messages" data-bind="foreach: messages">
            <li class="chat-message" data-bind="css: uuid === $root.myUUID ? 'me' : 'friend'">
                <div class="chat-message-text" data-bind="text: text"></div>
            </li>
        </ul>

        <div class="chat-message-input">
            <form data-bind="submit: sendMessage">
                <input data-bind="value: newMessage, valueUpdate: 'afterkeydown'" type="text" class="form-control message-control-box" placeholder="type message here...">
            </form>
        </div>
    </div>

    <script src="js/bundle.min.js"></script>
</body>
</html>