<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1 user-scalable=0">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>

    <div class="conversation-list">
        <div class="conversation-list-item">
            Yeah well
        </div>

        <div class="conversation-list-item">
            Yeah well
        </div>

        <div class="conversation-list-item">
            Yeah well
        </div>

        <div class="conversation-list-item">
            Yeah well
        </div>

        <div class="conversation-list-item">
            Yeah well
        </div>
    </div>

    <div class="conversation">
        <div class="chat-messages">

            <div class="chat-message friend">
                <div class="chat-message-text">
                    I will know all later tonight when people have time to figure their shit out. But you're right, if we miss the guys Friday night, sure we can catch them for coffee the next day maybe. I would really like to see them!
                </div>
            </div>

            <div class="chat-message me">
                <div class="chat-message-text">
                    Era sure lets see what happens anyway. Let me know when you know whats going on
                </div>
            </div>

            <div class="chat-message friend">
                <div class="chat-message-text"> Cool! </div>
            </div>

        </div>

        <div class="chat-message-input">
            <input type="text" class="form-control message-control-box" placeholder="type message here...">
        </div>
    </div>

    <script src="js/bundle.min.js"></script>
</body>
</html>